In [1]:
import pandas as pd
import os

In [2]:
path="C:\\Users\\andyr\\Documents\\file\\side\\projects\\ufc\\datasets"

In [3]:
data=pd.read_csv(os.path.join(path,"cleaned_data.csv"))

In [4]:
data.Winner

0        Red
1       Blue
2       Blue
3        Red
4       Blue
        ...
4891    Blue
4892     Red
4893     Red
4894     Red
4895    Blue
Name: Winner, Length: 4896, dtype: object

# Feature encoding

In [5]:
encoding={}
for i in data.columns:
    
   
    if i=="Winner":
        continue
    if data[i].dtype=="object":
        enc=data.groupby(i).size()/data.shape[0]
        encoding[i]=enc

        data[i]=data[i].apply(lambda x: enc[x])

In [6]:
data.Winner=data.Winner.apply(lambda x: 0 if x=="Red" else 1)

In [7]:
data.head()

,R_odds,B_odds,R_ev,B_ev,date,location,country,Winner,title_bout,weight_class,...,finish,finish_round,finish_round_time,total_fight_time_secs,r_dec_odds,b_dec_odds,r_sub_odds,b_sub_odds,r_ko_odds,b_ko_odds
0,-150.0,130,66.666667,130.000000,0.002247,0.255515,0.122345,0,False,0.080474,...,0.411765,5.0,0.564338,1500.0,800.0,900.0,2000.0,1600.0,-110.0,175.0
1,170.0,-200,170.000000,50.000000,0.002247,0.255515,0.122345,1,False,0.169526,...,0.411765,3.0,0.564338,900.0,450.0,350.0,700.0,1100.0,550.0,120.0
2,110.0,-130,110.000000,76.923077,0.002247,0.255515,0.122345,1,False,0.121119,...,0.098652,3.0,0.564338,900.0,550.0,275.0,275.0,1400.0,600.0,185.0
3,-675.0,475,14.814815,475.000000,0.002247,0.255515,0.122345,0,False,0.174632,...,0.305351,1.0,0.001430,80.0,175.0,900.0,500.0,3500.0,110.0,1100.0
4,-135.0,115,74.074074,115.000000,0.002247,0.255515,0.122345,1,False,0.174632,...,0.098652,3.0,0.564338,900.0,165.0,200.0,400.0,1200.0,900.0,600.0

In [8]:
data.to_csv("transformed_data.csv",index=False)

In [9]:
data.Winner.value_counts()

0    2859
1    2037
Name: Winner, dtype: int64

In [10]:
import pickle as pkl

In [11]:
with open("encoding.pkl","wb") as f:
    pkl.dump(encoding,f)